table.fooFATable{
  width: 100%;
}
table.fooFATable tbody tr.fooFA-rows-detail{
  background-color:#fff;
}

table.fooFATable .fooFA-rows-detail div.fooFA-detail-row{
  /*min-height: 45px;*/
  border-bottom: 1px solid #E1E1E1;
}

table.fooFATable .fooFA-rows-detail div.foo-field-show{
  text-align: center;
  font-size: 1em;
}

table.fooFATable .icon.fa-angle-right{
  cursor:pointer;
}
.hide{
  display: none;
}
table.fooFATable .foofa-hide{
  display: none;
}

table.fooFATable .foo-header-show,
table.fooFATable .foo-field-show{
  display: inline-table;
  padding: 6px 7px;
  text-align: left;
  overflow: hidden;
  height: 1.2em;
}
table.fooFATable .foo-header-show{
  width:20%;
 /* line-height: 44px; */
}
table.fooFATable .foo-field-show{
  width:65%;
}


table.fooFATable tr th{
  padding:0px;
  text-align: center;
}
#edit-filter{
  padding-left:0px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[CUSTOMIZZAZIONI]
*/

table tbody tr {
  border: initial;
  border-left: initial;
  border-right: initial;
}

table tbody tr:nth-child(2n + 1) {
  background-color: initial;
}

table.fooFATable tbody tr.even {
  border: solid 1px rgba(210, 215, 217, 0.75);
  border-left: 0;
  border-right: 0;
}

table.fooFATable tbody tr.odd {
  background-color: rgba(230, 235, 237, 0.25);
}

/* azzero il padding delle celle per non avere del padding di default 
   non voluto
*/
table.fooFATable tr.fooFA-rows-detail td{
  padding:initial;
}
