/* Table */

.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 2em 0;
  width: 100%;
}

  table tbody tr {
    border: solid 1px rgba(210, 215, 217, 0.75);
    border-left: 0;
    border-right: 0;
  }

    table tbody tr:nth-child(2n + 1) {
      background-color: rgba(230, 235, 237, 0.25);
    }

  table td {
    padding: 0.75em 0.75em;
  }

  table th {
    color: #3d4449;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
  }

  table thead {
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
  }

  table tfoot {
    border-top: solid 2px rgba(210, 215, 217, 0.75);
  }

  table.alt {
    border-collapse: separate;
  }

    table.alt tbody tr td {
      border: solid 1px rgba(210, 215, 217, 0.75);
      border-left-width: 0;
      border-top-width: 0;
    }

      table.alt tbody tr td:first-child {
        border-left-width: 1px;
      }

    table.alt tbody tr:first-child td {
      border-top-width: 1px;
    }

    table.alt thead {
      border-bottom: 0;
    }

    table.alt tfoot {
      border-top: 0;
    }